@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: #ffff;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
.section-title{
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
}
.text-alignment{
    text-align: center;
}
/* Nav styles */
.header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
    padding: 50px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav  ul{
    display: flex;
    align-items: center;
}
nav  ul li{
    list-style: none;
    margin-right: 51px;

}
nav  ul  li  a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 38px 0 230px;
}
.banner-content{
    width: 585px;
}
.banner-greetings{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 18px;
    margin-bottom: 30px;
}
.contact-btn{
    background: transparent;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    margin-left: 30px;
}
.banner-profile-pic{
    width: 580px;
}

/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.about-info{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}
.item-title{
    font-size: 18px;
    color: #757575;
}
.item-description{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}

/* skill styles */
.skill-description-position{
    display: flex;
    justify-content: center;
}
.skill-description{
    width: 909px;
}
.skill-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.skill-item{
    width: 267px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0 rgba(0, 0, 0, 0.06);
    padding: 30px;
}
.skill-item-title{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
    margin-top: 30px;
}
.skill-item-description{
    font-size: 16px;
    color: #757575;
    line-height: 30px;
    margin-top: 20px;
}